/* ===[ Button canvas ]=== */
.btn { cursor: pointer; background: transparent url('../i/e/buttons.png') no-repeat 0 0; display: inline-block; position: relative; color: #FFFBF4; text-decoration: none; text-indent: -10000px; text-align: left; }
.btn:focus { outline: none }

/* ===[ Search button ]=== */
.btn_search { background-position: -3px -9px; width: 294px; height: 44px; }
.btn_search:hover { background-position: -3px -59px; }
.btn_search:active { background-position: -3px -109px }

/* ===[ Profile button ]=== */
.btn_profile { background-position: -11px -532px; width: 116px; height: 31px; }
.btn_profile:hover { background-position: -11px -572px; }
.btn_profile:active { background-position: -11px -612px }

/* ===[ Logout button ]=== */
.btn_logout { background-position: -147px -532px; width: 60px; height: 31px; }
.btn_logout:hover { background-position: -147px -572px; }
.btn_logout:active { background-position: -147px -613px }


/* ===[ Feedback button ]=== */
.btn_feedback { background-position: -560px -434px; width: 148px; height: 34px; }
.btn_feedback:hover { background-position: -560px -474px; }
.btn_feedback:active { background-position: -562px -515px; }

/* ===[ Book button XXL blue ]=== */
.btn_book_xxl_blue { background-position: -991px -319px; width: 246px; height: 48px; }
.btn_book_xxl_blue:hover { background-position: -991px -379px; }
.btn_book_xxl_blue:active { background-position: -991px -439px; }

/* ===[ Book button XL blue ]=== */
.btn_book_xl_blue { background-position: -307px -10px; width: 196px; height: 38px; }
.btn_book_xl_blue:hover { background-position: -307px -60px; }
.btn_book_xl_blue:active { background-position: -307px -109px; }

/* ===[ Book button XL orange ]=== */
.btn_book_xl_orange { background-position: -514px -10px; width: 196px; height: 38px; }
.btn_book_xl_orange:hover { background-position: -514px -60px; }
.btn_book_xl_orange:active { background-position: -514px -109px; }

/* ===[ Book button L blue ]=== */
.btn_book_l_blue { background-position: -721px -10px; width: 140px; height: 31px; }
.btn_book_l_blue:hover { background-position: -721px -60px; }
.btn_book_l_blue:active { background-position: -721px -109px; }

/* ===[ Book button S blue ]=== */
.btn_book_s_blue { background-position: -406px -316px; width: 120px; height: 31px; }
.btn_book_s_blue:hover { background-position: -406px -356px; }
.btn_book_s_blue:active { background-position: -406px -396px; }

/* ===[ Book button L orange ]=== */
.btn_book_l_orange { background-position: -872px -10px; width: 140px; height: 31px; }
.btn_book_l_orange:hover { background-position: -872px -60px; }
.btn_book_l_orange:active { background-position: -872px -109px; }

/* ===[ Enter button ]=== */
.btn_book_enter { background-position: -1020px -9px; width: 53px; height: 30px; }
.btn_book_enter:hover { background-position: -1020px -59px; }
.btn_book_enter:active { background-position: -1020px -109px; }

/* ===[ Registration button ]=== */
.btn_book_reg { background-position: -1083px -9px; width: 113px; height: 30px; }
.btn_book_reg:hover { background-position: -1083px -59px; }
.btn_book_reg:active { background-position: -1083px -109px; }

/* ===[ Enter button XL ]=== */
.btn_book_enter_xl { background-position: -322px -165px; width: 114px; height: 34px; }
.btn_book_enter_xl:hover { background-position: -322px -205px; }
.btn_book_enter_xl:active { background-position: -322px -245px; }

/* ===[ Registration button XL ]=== */
.btn_book_reg_xl { background-position: -128px -165px; width: 183px; height: 34px; }
.btn_book_reg_xl:hover { background-position: -128px -205px; }
.btn_book_reg_xl:active { background-position: -128px -245px; }

/* ===[ Continue button ]=== */
.btn_continue { background-position: -926px -165px; width: 133px; height: 34px; }
.btn_continue:hover { background-position: -926px -205px; }
.btn_continue:active { background-position: -926px -245px; }

/* ===[ Show more button ]=== */
.btn_show_more { background-position: -454px -165px; width: 148px; height: 34px; }
.btn_show_more:hover { background-position: -454px -205px; }
.btn_show_more:active { background-position: -454px -245px; }

/* ===[ Copy button ]=== */
.btn_copy { background-position: -612px -165px; width: 148px; height: 34px; }
.btn_copy:hover { background-position: -612px -205px; }
.btn_copy:active { background-position: -612px -245px; }

/* ===[ Copy button S ]=== */
.btn_copy_s { background-position: -561px -315px; width: 137px; height: 30px; }
.btn_copy_s:hover { background-position: -561px -355px; }
.btn_copy_s:active { background-position: -561px -396px; }

/* ===[ Refresh button ]=== */
.btn_refresh { background-position: -281px -316px; width: 102px; height: 32px; }
.btn_refresh:hover { background-position: -281px -356px; }
.btn_refresh:active { background-position: -281px -396px; }

/* ===[ Subscribe button XL ]=== */
.btn_subscribe_xl { background-position: -770px -165px; width: 148px; height: 34px; }
.btn_subscribe_xl:hover { background-position: -770px -205px; }
.btn_subscribe_xl:active { background-position: -770px -245px; }

/* ===[ Subscribe button ]=== */
.btn_subscribe { background-position: -5px -254px; width: 101px; height: 26px; }
.btn_subscribe:hover { background-position: -5px -304px; }
.btn_subscribe:active { background-position: -5px -354px; }

/* ===[ Count decrement button ]=== */
.btn_count_decrement { background-position: -15px -396px; width: 21px; height: 29px; }
.btn_count_decrement:hover { background-position: -15px -436px; }
.btn_count_decrement:active { background-position: -15px -476px; }

/* ===[ Count increment button ]=== */
.btn_count_increment { background-position: -70px -396px; width: 21px; height: 29px; }
.btn_count_increment:hover { background-position: -70px -436px; }
.btn_count_increment:active { background-position: -70px -476px; }

/* ===[ Social more button ]=== */
.btn_social_more { background-position: -1071px -166px; width: 50px; height: 28px; }
.btn_social_more:hover { background-position: -1071px -203px; }
.btn_social_more:active, .btn_social_more.active { background-position: -1071px -239px;  }

/* ===[ Close search name ]=== */
.btn_close_name_search { background-position: -130px -297px; width: 19px; height: 19px; }
.btn_close_name_search:hover { background-position: -155px -297px }

/* ===[ Facebook button ]=== */
.btn_facebook { background-position: -5px -168px; width: 28px; height: 28px; }
.btn_facebook:hover { background-position: -5px -207px; }

/* ===[ Twitter button ]=== */
.btn_twitter { background-position: -42px -168px; width: 28px; height: 28px; }
.btn_twitter:hover { background-position: -42px -207px; }

/* ===[ Vkontakte button ]=== */
.btn_vkontakte { background-position: -80px -168px; width: 28px; height: 28px; }
.btn_vkontakte:hover { background-position: -80px -207px; }

/* ===[ Facebook White button ]=== */
.btn_facebook_white { background-position: -144px -326px; width: 24px; height: 24px; }
.btn_facebook_white:hover { background-position: -144px -355px; }
.btn_facebook_white:active { background-position: -144px -385px; }

/* ===[ Twitter White button ]=== */
.btn_twitter_white { background-position: -180px -326px; width: 24px; height: 24px; }
.btn_twitter_white:hover { background-position: -180px -355px; }
.btn_twitter_white:active { background-position: -180px -385px; }

/* ===[ Vkontakte White button ]=== */
.btn_vkontakte_white { background-position: -216px -326px; width: 24px; height: 24px; }
.btn_vkontakte_white:hover { background-position: -216px -355px; }
.btn_vkontakte_white:active { background-position: -216px -385px; }

/* ===[ Odnoklassniki Share button ]=== */
.btn_od_share { background-position: -146px -440px; width: 23px; height: 23px; }
.btn_od_share:hover { background-position: -146px -470px }
.btn_od_share:active { background-position: -146px -500px }

/* ===[ Vkontakte Share button ]=== */
.btn_vk_share { background-position: -173px -440px; width: 23px; height: 23px; }
.btn_vk_share:hover { background-position: -173px -470px }
.btn_vk_share:active { background-position: -173px -500px }

/* ===[ Facebook Share button ]=== */
.btn_fb_share { background-position: -201px -440px; width: 23px; height: 23px; }
.btn_fb_share:hover { background-position: -201px -470px }
.btn_fb_share:active { background-position: -201px -500px }

/* ===[ Twitter Share button ]=== */
.btn_tw_share { background-position: -229px -440px; width: 23px; height: 23px; }
.btn_tw_share:hover { background-position: -229px -470px }
.btn_tw_share:active { background-position: -229px -500px }

/* ===[ Google Share button ]=== */
.btn_gg_share { background-position: -257px -440px; width: 23px; height: 23px; }
.btn_gg_share:hover { background-position: -257px -470px }
.btn_gg_share:active { background-position: -257px -500px }


/* ===[ Pay card button ]=== */
.btn_pay_card { background-position: -227px -632px; width: 239px; height: 41px; }
.btn_pay_card:hover { background-position: -227px -682px }
.btn_pay_card:active { background-position: -227px -732px }

/* ===[ Pay bank button ]=== */
.btn_pay_bank { background-position: -473px -633px; width: 239px; height: 41px; }
.btn_pay_bank:hover { background-position: -473px -682px }
.btn_pay_bank:active { background-position: -473px -732px }

/* ===[ Go to pay button ]=== */
.btn_go_to_pay { background-position: -722px -634px; width: 156px; height: 38px; }
.btn_go_to_pay:hover { background-position: -722px -683px }
.btn_go_to_pay:active { background-position: -722px -733px }

/* ===[ Open new window button ]=== */
.btn_new_window { background-position: -887px -634px; width: 185px; height: 38px; }
.btn_new_window:hover { background-position: -887px -682px }
.btn_new_window:active { background-position: -887px -733px }

/* ===[ Send to mail button ]=== */
.btn_send_to_mail { background-position: -1081px -634px; width: 182px; height: 38px; }
.btn_send_to_mail:hover { background-position: -1081px -682px }
.btn_send_to_mail:active { background-position: -1081px -733px }


/* ===[ Subscribe button wide ]=== */
.btn_subscribe_wide { background-position: -8px -672px; width: 174px; height: 26px; }
.btn_subscribe_wide:hover { background-position: -8px -672px; }
.btn_subscribe_wide:active { background-position: -8px -672px; }



