@font-face { font-family: BlissProBold; font-weight: bold; src: url('../f/BlissPro-Bold.otf'); }
@font-face { font-family: BlissProMedium; font-weight: bold; src: url('../f/BlissPro-Medium.otf'); }
@font-face { font-family: BlissProRegular; font-weight: normal; src: url('../f/BlissPro-Regular.otf'); }
@font-face { font-family: BlissProLight; font-weight: normal; src: url('../f/BlissPro-Light.otf'); }
@font-face { font-family: 'Ruble'; src: url('../f/rouble.eot'); src: local('ALS Rubl'), local('ALSRubl'), url('../f/rouble.woff') format('woff'), url('../f/rouble.ttf') format('truetype'), url('../f/rouble.svg#ALSRubl') format('svg'); }

/* ===[ Additional resets ]=== */
h1, h2, h3, h4, h5, h6, p, ul, ol { margin: 0; padding: 0; }
input, textarea { border: 0 }
ul, ol { margin: 0 }
i { font-style: normal }
label { outline: none !important }
a[href^=tel]{
    color:inherit;
    text-decoration:none;
}

/* ===[ Main fonts ]=== */
body { font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 16px; color: #2e3242; }

/* ===[ Links ]=== */
a { color: #2e3242; text-decoration: none; outline: none; }
a:active, a:focus { outline: none; }
.e_sl { text-decoration: underline }
.e_sl:active { text-decoration: none; opacity: 0.95; }
.e_sl:hover { text-decoration: none }
.e_slh:active { text-decoration: underline; opacity: 0.95; }
.e_slh:hover { text-decoration: underline }
.e_bl { border-bottom: 1px solid; }
.e_bl:active { opacity: 0.95 }
.e_bl:hover { border-bottom: 0 }
.e_blh:active { opacity: 0.95 }
.e_blh:hover { border-bottom: 1px solid; }
.e_aj { border-bottom: 1px dotted; }
.e_aj:active { opacity: 0.95 }
.e_aj:hover { border-bottom: 0 }
.e_dsh { border-bottom: 1px dashed; }
.e_dsh:active { opacity: 0.95 }
.e_dsh:hover { border-bottom: 0 }

/* ===[ Headers ]=== */
.e_mh { font-weight: bold; position: relative; z-index: 1; }
.e_mh_striked::after { left: 0; top: 55%; position: absolute; content: ' '; width: 100%; height: 1px; background-color: #cbcbcc; border-bottom: 1px solid #e6e6e7; z-index: 0; }
.e_mh_striked span { background: #f2f4f5 url('../i/e/texture_white.jpg') 0 0; position: relative; padding: 0 20px; z-index: 1; }
.e_mh_starred i { font-weight: normal; background: url('../i/e/stars_header_bg.png') 0 9px no-repeat; width: 402px; display: inline-block; }
h1.e_mh { font-size: 40px; line-height: 44px; }
h2.e_mh { font-size: 30px; line-height: 34px; }
h3.e_mh { font-size: 30px; line-height: 31px; }
h3.e_mh_lb { font-size: 24px; line-height: 28px; }
h4.e_mh { font-size: 18px; line-height: 22px; }
h5.e_mh { font-size: 16px; line-height: 20px; }
h6.e_mh { font-size: 13px; line-height: 17px; }
.lt-ie9 .e_mh_striked { background: url('/i/e/striked_bg.png') 0 17px no-repeat }
/* ===[ Lists ]=== */
.e_list { padding-left: 30px }
.e_list li { padding: 3px 0 }
.e_flat_list { margin: 0; padding: 0; list-style-type: none}
dl.e_list dt { padding-top: 3px; margin-left: 0; font-family: BlissProBold, Arial, Helvetica, sans-serif; font-size: 110%; position: relative; }
dl.e_list dd { padding-bottom: 6px; margin-left: 0; }
dl.e_list_num { counter-reset: e-counter }
dl.e_list_num dt, dl.e_list_num dd { padding-left: 25px }
dl.e_list_num dt:before { text-shadow: 1px 1px 2px white; color: #545875; content: counter(e-counter); counter-increment: e-counter; position: absolute; left: 0; top: 8px; font-family: BlissPro, Arial, Helvetica, sans-serif; font-size: 140%; }

/* ===[ Textures ]=== */
.e_texture_gray { background: url('../i/e/texture_grey.jpg?111') 0 0 }
.e_texture_gray .e_mh_striked span { background: url('../i/e/texture_grey.jpg?111') }
.e_texture_white { background: url('../i/e/texture_white.jpg?111') 0 0 }
.e_texture_white .e_mh_striked span { background: url('../i/e/texture_white.jpg?111') }
.e_texture_black { background: #34394e  url('../i/e/texture_black.jpg?222') top center no-repeat }

/* ===[ Helpers (overrides) ]=== */
.e_bs_dark {  box-shadow: 0 1px 3px #929292; }
.lt-ie9 .e_bs_dark { border: 1px solid #d9d9d9; }
.e_ts_white { text-shadow: 1px 1px 2px #f6f6f7; }
.e_ts_dark { text-shadow: 1px 1px 2px #1d618d; }
.e_white { color: #f5f6f7 }
.e_white a.phone { color: #f5f6f7 !important }
.e_dark { color: #2e3242 }
.e_light_blue { color: #c1d8e8 }
.e_orange { color: #ef5d38 }
.e_red { color: #ff301b }
.e_nobold { font-weight: normal }
.e_bold { font-weight: bold }
.e_italic { font-style: italic }
.e_ta_left { text-align: left }
.e_ta_center { text-align: center }
.e_ta_right { text-align: right }

/* ===[ Floatables ]=== */
.e_floatable { overflow: hidden; height: auto; }
.e_left { float: left; }
.e_right { float: right; }

/* ===[ Fonts ]=== */
.e_arial { font-family: Arial, Helvetica, sans-serif; }
.e_bliss { font-family: 'BlissProRegular', Arial, Helvetica, sans-serif; font-size: 120%; }
.e_bliss_bold { font-family: 'BlissProBold', Arial, Helvetica, sans-serif; font-weight: bold; font-size: 120%; }
.e_bliss_medium { font-family: 'BlissProMedium', Arial, Helvetica, sans-serif; font-weight: bold; font-size: 120%; }
.e_bliss_light { font-family: 'BlissProLight', Arial, Helvetica, sans-serif; font-size: 120%; font-weight: normal; }
.e_ruble { font-family: 'Ruble', Arial, Helvetica, sans-serif; }

/* ===[ Font sizes ]=== */
.e_fs_s { font-size: 11px; line-height: 15px; }
.e_fs_m { font-size: 12px; line-height: 16px; }
.e_fs_ml { font-size: 13px; line-height: 17px; }
.e_fs_x { font-size: 14px; line-height: 18px; }
.e_fs_xl { font-size: 16px; line-height: 20px; }
.e_fs_xxl { font-size: 18px; line-height: 22px; }
.e_fs_xxxl { font-size: 21px; line-height: 25px; }
.e_fs_big { font-size: 30px; line-height: 34px; }