body {
    background: #2b91d4;
}

#header {
    padding: 43px 0 34px;
    margin: 0 auto;
    width: 994px;
    text-align: center;

}

#content {
    padding: 1em;
    width: 924px;
    margin: 0 auto;
    text-align: center;
}

.cont_block .e_mh {

}

.cont_block {
    margin-top: 12px;
    margin-bottom: 25px;
}

.cont_wrapper {
    border: 3px solid #254068;
    width: 100%;
    padding: 0 16px;
    margin-bottom: 54px;
    border-radius: 7px;
    box-shadow: inset 1px -1px 18px -1px #3F3F3F;
}

.cont_wrapper > h3 {
    width: 80%;
    margin: 24px auto 19px;
}

.cont_div {
    display: inline-block;
    padding: 6px 12px;
    margin: 0 12px;
    position: relative;
}

.cont_div_light {
    background-color: #fff;
    border-radius: 4px;
}

.cont_div_dark {
    background-color: #2e3242;
    border-radius: 4px;
}

#sections_list {
    margin-left: -166px;
    top: 10px;
    position: fixed;
    padding: 10px 26px 10px 16px;
    border-radius: 5px;
}

#sections_list li {
    padding: 6px 0;
}

.lb-overlay  {
    margin-left: -70px;
    padding: 70px;
    position: static;
    display: block;
    background: url('/i/black_pixel.png') 0 0;
}

.lb-overlay > div {
    position: relative;
    top: 0;
    left: 0;
}