/* ===[ Basic styles ]=== */
html, button, input, select, textarea { color: #222 }
::-moz-selection { background: #b3d4fc; text-shadow: none; }
::selection { background: #b3d4fc; text-shadow: none; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
img { vertical-align: middle }
fieldset { border: 0; margin: 0; padding: 0; }
textarea { resize: vertical }
.chromeframe { margin: 0.2em 0; background: #ccc; color: #000; padding: 0.2em 0; }


/* ===[ Project styles ]=== */
body { background-color: #172f49; }
.main_wrapper { position: relative; min-width: 1004px; }
.content_block { margin: 0 auto; width: 1004px;padding-bottom: 42px; position: relative; z-index: 1; }

.login_btns { display: block }
.profile_btns { display: none }
.authorized .login_btns {
    display: none;
}
.authorized .profile_btns {
    display: block;
}

.page_header { background: url("../i/page_header_bg.jpg") 0 0 repeat-x; height: 66px; }
.inner_page .page_header { background: url("../i/page_header_inner_bg.jpg") 0 0 repeat-x; height: 40px;  position: relative; z-index: 4}
.site_logo { padding-top: 11px }
.inner_page .site_logo { z-index: 2; left: 2px; top: -24px; position: absolute; }
.page_top_menu { margin-left: 65px; margin-top: 25px; width: 469px; }
.inner_page .page_top_menu { margin-top: 12px; margin-left: 34px; width: 458px; }
.page_top_menu li { padding-bottom: 1px }
.page_top_menu .sep { top: 7px; background: url('../i/white_sep.png') top center no-repeat; width: 23px; height: 3px; position: relative; }
.profile_block { padding-top: 18px }
.inner_page .profile_block { padding-top: 5px; }
.social_links { padding-top: 18px }
.inner_page .social_links { padding-top: 8px }
.social_links a { margin: 0 3px }
.inner_page .social_links a { margin: 0 10px 0 0; }
.inner_page .page_header .subsribe_block { padding-top: 12px }

.page_footer { background-color: #172f49; min-height: 50px; }
.page_footer .content_block { padding-bottom: 0 }
.page_useful_links { background-color: #065f9f }
.page_useful_links li { padding: 4px }
.page_useful_links .content_block { padding: 16px 0 29px }
.page_useful_links td { vertical-align: top; padding-right: 52px; }
.page_useful_links td:last-child { padding-right: 0; padding-left: 15px; }
.footer_content { padding: 21px 0 18px 5px }
.footer_content .pay_methods { padding-left: 53px }
.footer_content .pay_methods a { margin-right: 23px }
.footer_content .inxl { position: relative; padding-right: 94px; }
.footer_content .inxl img { right: 5px; top: -5px; position: absolute; }

.index_wrapper { padding-right: 3px; padding-top: 14px; }

.index_book_block { background: url("../i/index_book_block_bg.jpg") 0 0 repeat-x; height: 454px; position: relative; }

.index_book_map_block { background: url('../i/world_map.png') top center no-repeat; position: absolute; width: 100%; height: 400px; top: 55px; }
.index_book_block h1 { padding-top: 14px; color: #F2F4F5; padding-bottom: 6px; }
.index_book_block h6 { margin-bottom: 51px; margin-left: 2px; color: #F2F4F5; font-size: 19px; line-height: 23px;  }
.index_book_block .e_phones_block { top: 25px ; right: 2px; z-index: 2 }
.inner_page .index_book_block { height: 112px; padding-top: 26px; background: url("../i/index_book_block_inner_bg.jpg") 0 0 repeat-x; width: 100%; z-index: 10; position: absolute; top: 40px;  }
.inner_page .index_book_block .book_bg { position: absolute; bottom: -5px; left: 0; height: 126px; width: 100%; background: url('/i/e/search_bg_inner.png') 0 0 repeat-x; z-index: 0}
.inner_page .index_book_block .e_phones_block { top: -7px; }
.inner_page .index_book_block .content_block { padding-bottom: 0 }


.index_promo_block .e_left { margin-right: 35px; }
.lt-ie9 .index_promo_block .e_left { margin-right: 32px; }
.index_promo_block .wrapper_content { padding: 21px 0 24px; }
.index_promo_block .content_block { padding-bottom: 0; }


.index_content_block .wrapper_content { margin-bottom: 4px; }
.index_content_block .cont_item { width: 310px; padding-top: 5px; }
.index_content_block .cont_item.e_left { margin-right: 35px }
.index_content_block .cont_item h3 { margin-bottom: 15px; position: relative; left: -2px; }
.index_content_block .cont_item .e_block { margin-bottom: 28px }
.index_content_block .cont_item .e_block_popular_city { margin-bottom: 25px }
.index_content_block .cont_item  .e_block_subscribe { margin-bottom: 14px }
.index_content_block  .promo_wrapper,
.index_content_block  .social_block { margin-bottom: 14px }
.news_item .show_all { margin-left: 63px }
.index_content_block .news_item h3 { margin-bottom: 22px }

.index_press_header { margin-top: 46px }
.press_table { margin: 0 auto }
.press_table td { padding: 30px 0; text-align: center; width: 230px; }

.index_about_book_header { margin-top: 26px; margin-bottom: 18px; }
.about_cont_block { width: 480px; color: #9397a7; }
.about_cont_block.e_left { margin-right: 12px; }

#registration_form .e_input_line .discount { background: url('/i/e/sprite.png') no-repeat -284px -304px; width: 78px; height: 84px; position: absolute; right: -86px; top: 32px; }
#registration_window.lb-overlay > div { width: 350px }
#registration_form .e_text_field { width: 256px }


.inner_page .index_content_block { color: #34394e; margin-top: 138px; position: relative; }
.inner_page .index_content_block:after { content: ' '; background: url('/i/e/texture_white.jpg'); position: absolute; width: 100%; height: 100%; top: 0; left: 0; z-index: 10; }
.inner_page .index_content_block.loaded:after { display: none }
.hotel_card_page .index_content_block:after { background: #30374d url('/i/e/texture_black.jpg') top center no-repeat; display: none }


.inner_page .index_content_block .wrapper_content { padding-top: 20px }
.filters_column { width: 200px; margin-right: 22px; }
.filters_column .filters_block { margin-bottom: 29px; position: relative; }
.filters_column h3 { margin-bottom: 7px; line-height: 21px; }
.fb_name h3 { margin-bottom: 12px }
.fb_stars h3 { margin-bottom: 13px }
.fb_locations h3 { margin-bottom: 16px }
.fb_prices_range h3 { margin-bottom: 15px }
.fb_facilities h3 { margin-bottom: 16px }
.filters_column h4 { margin: 15px 0 7px }
.fc_immediate_confirm { }
.filters_block sup { position: absolute; top: 2px; margin-left: 4px; font-size: 12px; }
.fb_facilities sup { margin-left: 80px; }
.filters_block sup a { color: #3B86CA; font-size: 12px; font-family: BlissPro;}
.filters_block sup b { font-weight: normal; display: none; top: 10px; margin-left: -150px; width: 289px; background: #fff; padding: 12px 14px; z-index: 10; position: absolute; font-size: 12px !important; }
.filters_block sup:hover b { display: block }
.filters_column .e_text_field { padding: 5px 9px }
.filters_column .e_search_field .e_text_field { padding-left: 27px; box-shadow: 0 1px 1px #fff; width: 160px }
.fc_stars_filters label { margin-left: 15px }
.fc_stars_filters label:first-child { margin-left: 0 }
.fc_options_list li:first-child { margin-top: 0 }
.fc_options_list li { margin-top: 6px }
.fc_zones_list { text-transform: capitalize }
.filters_column h4.e_vis_toggler i { top: 1px }
#currencySelector_chzn { top: -2px; right: 0; position: absolute; width: 90px; }
#currencySelector_chzn .chzn-single { padding: 1px 9px; border: 0; box-shadow: 0 1px 3px #6D6D6D; }
#currencySelector_chzn .chzn-drop { border-color: silver }
#currencySelector_chzn .chzn-search { display: none }

.items_list_column { color: #34394e }
.controls_row { margin-top: -6px; margin-bottom: 29px; z-index: 2; position: relative; }
.sorting_options { background: url('/i/e/controls_bg.png') 0 0 repeat-x; border-radius: 4px; box-shadow: 0 1px 5px #2c3348; }
.sorting_options li { padding: 9px 0; text-align: center; cursor: pointer; width: 74px; }
.sorting_options li.stars { width: 87px }
.sorting_options li.rating { width: 96px }
.sorting_options li.a_z { width: 48px }
.sorting_options li.z_a { width: 48px }
.sorting_options li i { display: none }
.sorting_options li span { border-bottom: 1px dotted; position: relative; }
.sorting_options li.active { color: #fff; font-weight: bold; background: url('/i/e/controls_active_bg.png') 0 0 repeat-x; }
.sorting_options li.active span { border: 0 }
.sorting_options li.active i { font-size: 12px; display: inline; position: absolute; top: 3px; right: -11px; color: #C5C7CA; text-indent: -100000px; width: 5px; height: 11px; background: url('/i/e/arr.png') 0 0 no-repeat }
.sorting_options .price { }
.sorting_options li:first-child { border-radius: 5px 0 0 5px }
.sorting_options li:last-child { border-radius: 0 5px 5px 0 }
.extra_links { margin-left: 15px; padding-top: 11px; }
.extra_links .e_wicon:first-child { margin-left: 0 }
.extra_links .e_wicon { padding-top: 3px; margin-left: 17px; }



.hotel_card_page .index_content_block .content_block { padding-bottom: 16px }
.hotel_card_numbers,
.hotel_card_description,
.hotel_card_feedback { min-height: 200px }
.hotel_card_wrapper a,
.hotel_card_wrapper .e_hotel_map_focus .e_aj { color: #c2c7d1 }
.hotel_card_page .index_content_block .wrapper_content { padding-top: 0 }
.hotel_card_page .index_wrapper { padding-top: 0 }
.e_share_block a.lb_close { top: 35px }
.hotel_card_page .e_hotels_share_link_dark.active { color: #2E3242 }
.hotel_card_wrapper { color: #fff; position: relative; }
.hotel_card_wrapper .e_rating_mini { left: 416px; top: -6px; }
.e_back_to { color: #c2c7d1; padding-top: 16px; margin-left: 1px }
.hotel_card_wrapper .extra_links { padding-top: 16px }
.hotel_card_wrapper .main_info { width: 750px }
.hotel_card_wrapper .main_info h2 { margin-bottom: 2px; margin-left: -1px; margin-top: 10px; font-size: 35px; line-height: 39px; }
.lt-ie9 .hotel_card_wrapper .main_info h2 { font-size: 33px; line-height: 37px; }
.hotel_card_wrapper .address { top: -2px; position: relative; padding-left: 16px; cursor: pointer; float: left; clear: both; }
.hotel_card_wrapper .address i { position: absolute; background: url('/i/e/sprite.png') no-repeat -325px -437px; width: 10px; height: 13px; top: 0; left: 0; }
.hotel_card_wrapper .main_facilities { margin-top: -1px; margin-right: -4px; width: 171px; }
.hotel_card_wrapper .main_facilities li { margin-left: 4px }
.hotel_card_wrapper .middle { margin-top: 31px }
.hotel_card_wrapper .hotel_category { padding-top: 2px; margin-left: 8px; font-size: 15px; line-height: 19px; }
.hotel_card_wrapper .second_info a { margin-left: 18px }
.hotel_card_wrapper .second_info { margin-top: 18px }
.hotel_card_wrapper .gallery { margin-top: 13px }
.hotel_card_wrapper .e_rating_info { left: 407px }
.hotel_card_numbers { color: #34394e; position: relative; z-index: 2; }
.hotel_card_numbers .content_block { padding-bottom: 18px }
.hotel_card_numbers .wrapper_content,
.hotel_card_feedback .wrapper_content { padding-top: 11px }
.hotel_card_numbers h3,
.hotel_card_feedback h3 { font-size: 26px; line-height: 30px; margin-bottom: 17px; }
.hotel_card_wrapper .e_rating_info a { color: #34394E; font-size: 12px; }
.hotel_card_wrapper .e_rating_info { top: -280px; -webkit-transition: top 0.5s ease-out; -moz-transition: top 0.5s ease-out; -o-transition: top 0.5s ease-out; transition: top 0.5s ease-out; }
.opera .hotel_card_wrapper .e_rating_info,
.lt-ie9 .hotel_card_wrapper .e_rating_info { top: -300px }
.hotel_card_wrapper .feedback_anchor { display: none }
.hotel_card_wrapper .e_rating_info.active { top: 0 }
.hotel_card_numbers .e_help_line { margin-top: 19px }
.hotel_card_description .content_block { padding-bottom: 30px }
.hotel_card_description .wrapper_content { padding-top: 22px }
.hotel_card_description h4 { font-size: 21px; line-height: 25px; margin-bottom: 8px; }
.hotel_card_description .e_desc_block { margin-bottom: 6px }
.hotel_card_description .first .e_desc_block { padding-right: 40px }
.hotel_card_description .last .e_desc_block { padding-left: 18px }
.hotel_card_description .e_desc_block p { padding-bottom: 9px }
.hotel_card_description .attention { margin-top: 23px }
.hotel_card_feedback .feedback_list { padding-top: 9px }
.hotel_card_feedback .feedback_list .e_hotel_feedback { margin-bottom: 12px }
.hotel_card_feedback .fb_show_more { display: none }
.hotel_card_feedback .fb_count { color: #8b8b8b }
.hotel_card_feedback .e_scroll_to_top { color: #636982 }
.hotel_card_feedback .controls { position: relative; background: url('/i/e/fb_controls_bg.png') 0 7px repeat-x; margin-top: 43px; }
.hotel_card_feedback  .feedback_btn_wrapper { position: absolute; left: 399px; top: -8px; padding: 0 22px; }
.hotel_card_feedback .scrltotop { margin-top: 53px }
.hotel_card_feedback .content_block { padding-bottom: 25px }
.hotel_card_feedback .e_rating_mini { top: -6px }



.book_page .e_search_form_content {
    height: 6px;
}

.book_page .index_book_block .book_bg {
    height: 49px;
    bottom: 3px;
}

.book_page .index_book_block {
    height: 43px;
    position: absolute !important;
    top: 40px !important;
}

.book_page .index_content_block {
    margin-top: 66px;
}

.book_page .index_content_block .content_block {
    padding-bottom: 8px;
}

.book_wrapper .middle { background: url('/i/e/book_dates_bg.png') 0 0 no-repeat; height: 36px; color: #bbc0cb; position: relative; margin-top: 15px; }

.hotel_pay_numbers_info.book_wrapper .middle {
    background: url('/i/e/book_dates_bg_min.png') 0 0 no-repeat; height: 36px; color: #bbc0cb; position: relative; margin-top: 15px;
}

.book_wrapper .middle b { color: #fff }
.book_wrapper .checkin, .book_wrapper .checkout { padding: 9px 20px; }
.book_wrapper .checkout { padding-right: 51px }
.book_wrapper .nights_count { left: 399px; position: absolute; top: 9px; width: 200px; }

.book_wrapper .pay_info {
    margin-top: 10px;
    color: #C2C7D1;
    width: 630px;
}

.book_wrapper .e_book_info {
    margin-top: 7px;
}
.e_special_offer_info {
    margin-top: 19px;
}

.book_page .hotel_card_description .wrapper_content {
    padding-top: 18px;
}


.book_page .hotel_card_description .content_block {
    padding-bottom: 20px;
}

.booking_form_continued {
    color: #34394e;
    text-shadow: 0 1px 1px #fff;
}

.booking_form_continued .rush {
    width: 100%;
    height: 3px;
    background: url('/i/e/rush.png') 0 0 repeat-x;
}

.booking_form_continued .book_commons {
    margin-top: 20px;
}

.booking_form_continued .book_commons label {
    display: block;
    margin: 4px 0 4px 5px;
}

.booking_form_continued .book_commons .e_attention {
    margin-top: 4px;
}

.booking_form_continued .promo_code_area {
    margin-top: 27px;
    padding-left: 6px;
    position: relative;
}

.booking_form_continued .promo_code_area .border {
    background: url('/i/e/promocode_border.png') 0 0 repeat-x;
    height: 1px;
}

.booking_form_continued .promo_code_area .cont {
    margin: 24px 0;
}

.booking_form_continued .promo_code_area .info {
    top: 29px;
    position: absolute;
    width: 200px;
    right: 18px;
}

.booking_form_continued .price_area {
    padding-bottom: 69px;
    padding-left: 5px;
    margin-top: 33px;
    position: relative;
}

.booking_form_continued .price_total {
    font-size: 14px;
    margin-left: 350px;
    position: absolute;
    width: 300px;
}


.booking_form_continued .price_total .price_wrapper {
    margin-top: 4px;
    font-size: 34px;
    line-height: 38px;
}

.booking_form_continued .buttons_area {
    margin-bottom: 22px;
    margin-top: 42px;
}

.book_page .hotel_card_description {
    position: relative;
    z-index: 3;
}

.book_page .book_conditions {
    margin-left: 9px;
}

.book_page .book_conditions .e_text_window {
    margin-top: 23px;
}

.hotel_pay_numbers_info {

}

.hotel_pay_numbers_info .checkin, .hotel_pay_numbers_info .checkout {
    padding: 9px 11px;
}

.hotel_pay_numbers_info .nights_count {
    left: 309px;
    position: absolute;
    top: 9px;
    width: 86px;
}

.hotel_pay_numbers_info .hpn_info {
    width: 708px;
}

.h_pay_block {
    margin-bottom: 40px;
}

.e_pay_column {
    margin-top: 14px;
    margin-left: 5px;

    color: #34394E;
}


.book_page .index_content_block .content_block {
    padding-bottom: 14px;
}

.static_page .index_static_content_block {
    margin-top: 0;
}

.index_static_content_block {
    padding-top: 12px;
}

.index_static_content_block h1 {
    font-family: BlissProMedium, Arial, Helvetica, sans-serif;
    font-size: 35px; line-height: 39px;
    margin-bottom: 10px;
}

.index_static_content_block h2 {
    font-family: BlissProMedium, Arial, Helvetica, sans-serif;
    font-size: 21px;
    line-height: 25px;
    margin-bottom: 20px;
    margin-top: 33px;
}

.index_static_content_block {
    font-size: 14px; line-height: 18px;
}

.inner_page .index_static_content_block .wrapper_content {
    padding-top: 15px;
    margin: 0 auto;
    width: 752px;
    padding-bottom: 40px;
}

.catalog_page h2 {
    font-size: 40px;
    padding: 45px 0 29px;
}

.catalog_page .static_text {
    font-size: 14px;
    line-height: 18px;
    width: 785px;
    margin-bottom: 18px;
}

.catalog_page .static_text p {
    padding-bottom: 14px;
}

.catalog_page .static_text img {
    float: left;
    margin-right: 14px;
    position: relative;
    top: 3px
}

.catalog_left {
    color: #2b2944;
    width: 793px;
    margin-right: 20px;
}
.lt-ie9 .catalog_left {
    margin-right: 18px;
}

.catalog_left {
    color: #2b2944;
}

.alphabet li {
    float: left;
    width: 20px;
    height: 35px;
    margin-left: 8px;

    background: url('/i/alphabet.png') 0 -100px no-repeat;
    text-align: center;
    padding-top: 7px;
    cursor: pointer;
}

.alphabet li:first-child {
    margin-left: -6px;
}

.alphabet li:hover {
    background-position: 0 0;
}
.alphabet li.active  {
    background-position: -36px 0;
    color: #fff;
    border: 0;
}


.alphabet li:hover a, .alphabet li.active a {
    color: #fff;
    border: 0;
}

.alphabet a {

    font-size: 14px;
    text-decoration: none;
    border-bottom: 1px dotted;
}

.countries_list {
    margin-top: 14px;
    font-size: 21px;
    line-height: 25px;
}

.countries_list .header {
    font-size: 14px;
    font-family: Arial, sans-serif;
    line-height: 18px;
    color: #a6abb4;
    margin-bottom: 6px;
}

.countries_list .row {
    border-top: 1px solid #cbcbcc;
    padding: 12px 0;
}

.countries_list .row:first-child {
    border: 0;
}

.countries_list .row a:hover {
    text-decoration: underline;
}

.catalog_page .e_block_subscribe {
    width: 187px;
    height: auto;
}
.catalog_page .e_block_subscribe .e_text_field {
    width: 159px;

}

.catalog_page .e_block_subscribe .btn_subscribe_wide {
    margin-bottom: 5px;
    margin-top: 7px;
}

.catalog_page .social_block {
    margin-top: 14px;
}
.catalog_page .social_block.promo {
    font-size: 11px;
    line-height: 15px;
    color: #9396a7;
    width: 185px;
}

.catalog_page  .index_content_block {
    margin-top: 0;
    padding-top: 16px;
}
.hotels_catalog_list .hotels_list {
    margin-right: 14px;
    width: 577px;
}

.hotels_catalog_list .e_hotel_item {
    width: 572px;
}
.lt-ie9 .hotels_catalog_list .e_hotel_item {
    width: 560px;
}
.hotels_catalog_list .hotel_info {
    width: 305px;
}

.hotels_catalog_list .e_hotel_item .address {
    white-space: nowrap;
    overflow: hidden;
    width: 100px;
    top: 0;
}

.hotels_catalog_list .e_hotel_item .address:after {
    content: '...';
}

.hotels_catalog_list .price {
    font-size: 18px;
    line-height: 22px;
}

.hotels_catalog_list .hotel_info .bottom {
    width: 309px;
}

.hotels_catalog_list .hotels_bottom .btn_show_more {
    left: 220px;
}

.hotels_catalog_list .hotels_bottom {
    width: 575px;
}

.catalog_page .cat_top {
    margin-top: 126px;
}

/* ===[ Some helpers ]=== */
.ir { background-color: transparent; border: 0; overflow: hidden; *text-indent: -9999px; }
.ir:before { content: ""; display: block; width: 0; height: 100%; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden }
.clearfix { *zoom: 1 }
.clearfix:after { clear: both }
.clearfix:before, .clearfix:after { content: " "; display: table; }


/* ===[ Other devices ]=== */
@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
	.main_wrapper { 
		min-width: 1100px;
	}
}

@media only screen and (min-device-width: 1536px) and (max-device-width: 2048px) and (-webkit-min-device-pixel-ratio: 2)
{

}


/* ===[ Print styles ]=== */
.printonly { display: none !important }
@media print {
    * { background: transparent !important; color: #000 !important; /* Black prints faster: h5bp.com/s */; box-shadow: none !important; text-shadow: none !important; }
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: "" }
    pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
    thead { display: table-header-group }
    tr, img { page-break-inside: avoid }
    img { max-width: 100% !important }
    .noprint { display: none}
    .printonly { display: block !important }
    .inner_page .index_content_block { margin-top: 0 }
    .e_stars_line i { text-indent: 0; }
    .e_aj { border: 0 }
    .e_hotel_item .e_sl, .e_hotel_item .e_bl { border: 0; text-decoration: none }
    .e_stars_line i { font-size: 24px; margin-top: 3px}
    .e_hotel_item .price_info { padding-top: 2px }
    .e_hotel_item { width: 995px }
    .e_hotel_item .photo { margin-right: 32px }
    .e_hotel_item .hotel_info { width: 580px;  }
    .e_hotel_item .hotel_info .bottom { width: 581px; font-size: 110%; }
    .e_hotel_item .hotel_info .top { font-size: 110%; }
    .e_hotel_item .hotel_info .middle { font-size: 160%; }
    .hotel_card_wrapper .e_stars_line.big i { font-weight: bold; font-size: 20px; position: relative; top: 6px; margin-right: 0; }
    .hotel_card_wrapper .e_stars_line.big b { display: none }
    .hotel_card_wrapper .e_rating_info { left: 820px; display: block; top: -132px; }
    .hotel_card_wrapper .e_rating_mini { left: 833px; top: -105px; }
    .hotel_card_wrapper .address { padding-left: 0 }
    .gallery { display: none }
    .e_numbers_block { border: 2px solid #929292 }
    .e_hotel_feedback .text { top: -23px }
    .e_rating_mini.maxi i,
    .e_rating_mini.big i { border: 0 }
    .e_mh_striked::after { display: none }
    .e_numbers_block.single .e_available_fast { top: 13px }
    .hotel_card_wrapper .main_facilities { margin-top: 39px }

    .book_wrapper .checkin { padding-left: 0}
    .book_wrapper .checkout { padding-right: 0}
    .book_wrapper .e_book_info { padding-left: 0; padding-right: 0; }
    .book_wrapper .e_numbers_block { border: 0 !important; }
    .e_book_info .scrltobottom { display: none }
    .book_wrapper .e_book_info { padding-bottom: 0; }
    .book_wrapper { padding-bottom: 30px }
    .e_pay_column .bi_block:first-child { padding-top: 11px }
    .e_pay_column .e_attention, .e_pay_column .e_pay_info { padding-left: 12px; }
    .book_wrapper .e_book_info.e_book_user_info { margin-top: 39px; }

    .pay_page .footer_content, .static_page .footer_content { display: none }

    .inner_page .index_static_content_block .wrapper_content { width: 100% }


}

/* ===[ Windows styles ]=== */
.page_useful_links td { padding-right: 51px }
/* ===[ IE styles ]=== */
.lt-ie9 .page_useful_links td { padding-right: 40px }


