/* ===[ Base search wrapper ]=== */
.e_search_form { position: relative }
.e_search_tabs { background: url('/i/e/tabs_bg.png?111') 0 0 no-repeat; position: relative; height: 38px; width: 1002px; }
.e_search_tabs.e_st_3 { background: url('/i/e/tabs_bg_3.png?111') 0 0 no-repeat; }
.e_search_tabs.e_st_4 { background: url('/i/e/tabs_bg_4.png?111') 0 0 no-repeat; }
.e_search_tabs ul { position: relative; z-index: 1; }
.e_search_tabs li { cursor: pointer; color: #678BAC; padding: 8px 0 6px; font-size: 100%; text-shadow: 1px 1px 1px white; background: url('/i/e/tabs_hover.png?111') 0 -100px no-repeat; position: relative; }
.e_search_tabs li:hover { background-position: bottom center; color: #36699b; }
.e_search_tabs li.active:hover { background-position: 0 0 }
.lt-ie9 .e_search_tabs li { font-size: 14px }
.e_search_tabs li.active { color: #21486f }
.e_search_tabs li.hotels { margin-left: 2px; width: 72px; }
.e_search_tabs li.rent_car { width: 115px }
.e_search_tabs li.transfers { width: 107px }
.e_search_tabs li.avia { width: 113px }
.e_search_tabs li.ensur { width: 117px }
.e_search_tabs li.hotels.active i { background-position: 0 0; left: -2px; width: 83px; height: 34px; }
.inner_page .e_search_tabs li.hotels.active i { background-position: -705px 0; left: -8px; width: 88px; height: 34px; }
.e_search_tabs li.rent_car.active i { background-position: -105px 0; width: 129px; height: 34px; left: -7px; }
.e_search_tabs li.transfers.active i { background-position: -252px 0; width: 123px; height: 34px; left: -8px; }
.e_search_tabs li.avia.active i { background-position: -397px 0; width: 129px; height: 34px; left: -8px; }
.e_search_tabs li.ensur.active i { background-position: -541px 0; width: 133px; height: 34px; left: -7px; }
.e_search_form li span { position: relative; z-index: 1; }
.e_search_form .e_search_tabs li i { background: url('/i/e/tabs_sprite.png?111') -100px 0 no-repeat; position: absolute; top: 0; left: 0; z-index: 0; }
.e_search_form .e_social_line { right: 0; top: 1px; }
.e_search_form_content { top: -4px; position: relative; background: #eeeef1 url('/i/e/search_bg.png') 0 0 repeat-x; min-height: 100px; width: 1000px; margin-left: 2px; height: 195px; border-radius: 0 5px 5px 5px; box-shadow: 0 1px 3px #2C2C2C; }
.e_earch_buttons_area { margin-top: 13px; position: relative; }
.e_earch_buttons_area .e_tf_checkbox_label { position: absolute; top: 13px; left: 127px; }
.e_search_form_content .name_search { width: 403px; position: relative; }
.e_search_form_content label { padding-bottom: 3px; color: #36454d; }
.e_search_form_content input { padding-top: 5px; padding-bottom: 8px; line-height: 14px !important; }

/* ===[ Hotels search ]=== */
.e_search_form_content input.e_date_input { padding-bottom: 5px }
.e_search_form_content .name_search input { width: 332px; padding: 5px 35px 7px 36px; line-height: 14px !important; }

.e_search_form_content .date_checkin { margin-left: 20px }
.e_search_form_content .date_checkout { margin-right: 13px }
.e_search_form_content .adults_count { margin-left: 12px }
.e_search_form_content .children_count { margin-left: 18px }
.e_search_form_content .l_children_count { margin-left: 13px }
.e_search_form_content .children_count label { width: 100px }
.e_search_form_content label span { color: #626976; margin-left: 4px; }
.e_search_form_content .l_children_count label span { margin-left: 19px }
.e_search_form_content .e_sl_count_selector { position: relative; top: -1px; }
.e_search_form_content .name_search i { position: absolute; background: url('/i/e/sprite.png?111') no-repeat -159px -19px; width: 31px; height: 28px; top: 23px; left: 1px; cursor: pointer; border-radius: 3px 0 0 3px; }
.e_search_form_content .btn_close_name_search { position: absolute; right: 4px; top: 28px; display: none; }
.e_search_line { padding-top: 17px; padding-left: 7px; }
.e_cities_list { width: 988px; padding: 4px 6px 5px; margin-top: 6px; }
.lt-ie9 .e_cities_list { margin-top: 6px }
.e_cl_wrapper { border-radius: 5px; border: 1px solid #ccccd3; box-shadow: inset 0 0 5px #D5D5D5; background-color: #fff; margin-top: 6px; }
.e_cl_wrapper ul { width: 164px }
.e_cl_wrapper ul:first-child { width: 166px }
.e_cl_wrapper li { padding: 3px; border-top: 1px solid #E9E9E9; }
.e_cl_wrapper li:first-child { border-top: 0 }
.e_cl_wrapper li a { border-radius: 3px; padding: 3px 6px 3px 26px; text-decoration: none; width: 126px; display: block; }
.e_cl_wrapper li a:hover { text-decoration: none }
.e_cl_wrapper li.active a { background-color: #3367af; text-decoration: none; color: #fff; }
.e_cl_wrapper li a i { top: 6px; left: 5px; }


/* ===[ Inner page search wrapper ]=== */
.inner_page .e_search_form_content {
    background: url('/i/e/search_bg_inner_2.png') 0 -43px no-repeat;
    box-shadow: none;
    margin-left: 1px;
    height: auto;
    min-height: inherit;
}
.inner_page .e_search_line { padding-left: 0; padding-top: 10px; }
.inner_page .e_search_tabs { margin-left: 139px; width: auto }
.inner_page .e_search_form_content .name_search { width: auto; }
.inner_page .e_search_form_content .name_search input {
    padding-bottom: 7px;
    width: 220px;
    line-height: 14px !important;
}

.e_sl_submit_area { margin-left: 21px; padding-top: 21px; }
