/* ===[ Flag element ]=== */
.e_flag { position: relative; padding-left: 20px; }
.e_flag i { background-position: 0 0; background-repeat: no-repeat; width: 16px; height: 11px; position: absolute; top: 1px; left: 0; }

/* ===[ Action line ]=== */
.e_action_s { position: absolute; background: url('../i/e/sprite.png') no-repeat -8px -30px; width: 52px; height: 49px; top: 0; left: 0; }

/* ===[ Price line ]=== */
.e_price { color: #ef5d38; font-family: 'BlissProLight', Arial, Helvetica, sans-serif; font-weight: normal; }
.win-os .e_price { font-family: 'BlissProMedium', Arial, Helvetica, sans-serif; }

/* ===[ Stars line (medium) ]=== */
.e_stars_line { height: auto; overflow: hidden;  }
.e_stars_line i { background: url('../i/e/sprite.png') -21px 0; height: 13px; width: 13px; display: block; float: left; margin-right: 4px; text-indent: -10000px }
.e_stars_line.big i { background-position: -284px -490px; width: 19px; height: 19px; margin-right: 6px; }
.e_stars_line.big b { display: block; float: left; width: 2px; height: 3px; background: url('/i/e/stars_sep.png') top center no-repeat; margin-top: 10px; margin-right: 5px; }
.e_stars_line.big b:first-child { display: none }
.e_stars_line i.active { background-position: 0 0 }
.e_stars_line.big i.active { background-position: -284px -469px }
.e_stars_line.white_bg i.active { background-position: -284px -495px; }
.e_stars_line.white_bg b { background: url('/i/e/stars_sep_dark.png') top center no-repeat; height: 2px; opacity: 0.7 }

/* ===[ Facilties icons ]=== */
.e_facilities_icons li { width: 30px; height: 30px; position: relative; }
.e_facilities_icons li:hover { background-position: 0 -30px; z-index: 2; }
.e_facilities_icons i { left: 13px; display: none; position: absolute; background-color: white; box-shadow: 0 1px 3px #929292; padding: 3px 4px; color: #34394E; top: 28px; white-space: nowrap; }
.e_facilities_icons li:hover i { display: block }

/* ===[ Gallery ]=== */
.e_gallery .jcarousel-item { width: auto; height: 160px; }
.gallery .jcarousel-clip-horizontal { height: 160px; width: 909px; }
.gallery .jcarousel-container-horizontal { width: 909px; padding: 10px 46px 10px; }
.gallery .jcarousel-container-horizontal.min { padding: 10px; width: auto; }
.gallery .jcarousel-prev-horizontal { left: -2px; top: -1px; background: url('/i/e/buttons.png') no-repeat -745px -319px !important; width: 41px; height: 184px; }
.gallery .jcarousel-next-horizontal { right: -2px; top: -1px; background: url('/i/e/buttons.png') no-repeat -799px -319px !important; width: 41px; height: 184px; }
.gallery .jcarousel-prev-horizontal:hover { background-position: -857px -319px !important }
.gallery .jcarousel-prev-horizontal:active { background-position: -745px -319px !important }
.gallery .jcarousel-next-horizontal:hover { background-position: -911px -319px !important }
.gallery .jcarousel-next-horizontal:active { background-position: -799px -319px !important }
.gallery .jcarousel-container { border: 0; background: #1d2335; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.e_gallery .jcarousel-item img { height: 160px }

/* ===[ Numbers list block ]=== */
.e_people_count img { margin-left: 3px }
.e_numbers_block { background-color: #fff; border-radius: 5px; position: relative; margin-bottom: 9px; }
.e_numbers_block.active { z-index: 5 }
.e_numbers_block.special_offer { border: 2px solid #ff661b }
.e_numbers_block .e_action_s { top: -3px; left: -4px; }
.e_numbers_block .num_left { margin-left: 10px }
.e_tip { position: relative }
.e_tip i { left: 0; display: none; position: absolute; background-color: white; box-shadow: 0 1px 3px #929292; padding: 8px 10px; color: #34394E; top: 20px; white-space: nowrap; z-index: 10; }
.e_tip:hover i { display: block }
.e_numbers_block .list { padding: 18px 21px 16px 16px; width: 693px; border-right: 1px solid #e2e2e7; }
.e_numbers_block .num_line { padding: 5px 0; border-top: 1px solid #e6e6e8; }
.e_numbers_block .num_line:first-child { border-top: 0 }
.e_numbers_block .book_options { margin-top: 3px; position: relative; }
.e_numbers_block .fast_book { margin-top: 2px }
.e_numbers_block .people { padding-top: 2px; padding-right: 1px; }
.e_numbers_block .num_count { font-size: 29px; margin-right: 5px; line-height: 25px; margin-top: 3px; }
.e_numbers_block .price { padding: 12px 14px 16px 0 }
.e_numbers_block .price .nights_count { color: #a0a0a9; margin-right: 14px; }
.e_numbers_block .price .total { margin-bottom: 11px; width: 230px; text-align: right; }
.e_numbers_block .price .buttons { padding-left: 18px }
.e_numbers_block .price .e_available_fast { margin-top: 3px; margin-left: 21px; }
.e_available_fast { color: #5D9F10; font-size: 11px; background: url('/i/e/green_check.png') 0 4px no-repeat; padding-left: 21px; }
.e_numbers_block .price_tag { position: relative; z-index: 2; }
.lt-ie9 .e_numbers_block .price_tag { font-size: 28px; line-height: 32px; }
.e_numbers_block.single .list { padding-top: 14px; width: 616px; }
.e_numbers_block.single .num_line { padding-top: 0; padding-bottom: 12px; }
.e_numbers_block.single .nights_count { font-size: 11px; left: 69px; top: 39px; position: absolute; }
.e_numbers_block.single .total { float: left; width: 156px; position: relative; }
.e_numbers_block.single .buttons { float: left; margin-top: 5px; }
.e_numbers_block.single .price { float: left; padding-left: 15px; position: relative; }
.e_numbers_block.single .e_available_fast { padding-left: 16px; background-position: 0 1px; left: 163px; line-height: 11px; width: 100px; top: 51px; position: absolute; }
.e_numbers_block.single .people { padding-top: 6px }
.e_numbers_block.single .e_price_details { top: -13px; left: -118px; }
.e_numbers_block.single.special_offer .list { width: 614px }
.e_price_details { display: none; left: 708px; width: 249px; top: -4px; padding: 64px 15px 14px 16px; position: absolute; background-color: white; z-index: 1; }
.e_price_details .total_word { top: 24px; position: absolute; font-size: 26px; color: #A0A0A9; left: 15px; }
.e_price_details li { padding: 6px 0; border-top: 1px solid #dcdee0; }
.e_price_details .epd_top { margin-bottom: 2px }
.e_price_details .e_people_count { padding-left: 1px }
.e_price_details li:first-child { border: 0 }
.e_price_details .nights_word { font-weight: normal; color: #a0a0a9; }
.e_price_details .vat_includes { font-style: italic; padding: 16px 36px 11px; }
.e_price_details .btns { padding: 1px 3px }

/* ===[ Hotel pay info ]=== */
.hotel_pay_numbers_info .e_numbers_block.single .e_available_fast {
    left: inherit;
    width: 180px;
    position: absolute;
    right: -29px;
    top: 15px;
}


/* ===[ Hotel feedback ]=== */
.e_hotel_feedback .author { margin-right: 16px; width: 275px; }
.lt-ie9 .e_hotel_feedback .author { margin-right: 14px }
.e_hotel_feedback .photo { width: 70px; margin-right: 22px; top: -2px; position: relative; }
.e_hotel_feedback .photo img { border-radius: 50%; width: 70px; height: 70px; }
.e_hotel_feedback .creditionals { position: relative; width: 180px; top: -3px; }
.e_hotel_feedback .creditionals .date { color: #9fa3ab; font-size: 11px; line-height: 15px; margin-left: 2px; margin-bottom: 5px; }
.e_hotel_feedback .position { margin-top: 3px }
.e_hotel_feedback .text { position: relative; margin-left: 12px; border-radius: 5px; max-width: 645px; padding: 18px 26px 6px; background-color: white; top: -2px; color: #203b53; }
.e_hotel_feedback .text .pipe { width: 11px; height: 19px; top: 22px; left: -11px; position: absolute; background: url('/i/e/fb_pipe.png') 0 -1px no-repeat; }
.e_hotel_feedback p { padding-bottom: 10px; float: left; }
.e_hotel_feedback  p.wrating { padding-right: 50px; min-height: 28px; }


/* ===[ Feedback window ]=== */
#feedback_window > div { width: 500px }
#feedback_window .lb_content { padding: 0; width: 500px; }
#feedback_window .top { border-radius: 5px 5px 0 0; padding: 74px 28px 18px 28px; }
#feedback_window .top h3 { font-size: 30px; line-height: 36px; padding: 0 16px; }
#feedback_window .bottom { padding: 14px 28px 22px; border-radius: 0 0 5px 5px; }
#feedback_window .bottom label { display: block; font-size: 14px; line-height: 18px; text-shadow: 0 1px 1px #fff; margin-bottom: 10px; }
#feedback_window .e_textarea { font-size: 14px; line-height: 18px; height: 119px; width: 421px; font-size: 14px; line-height: 18px; }
.e_rating_mini.noreact { cursor: default }
.e_rating_mini.noreact i { border: 0 !important }
#feedback_window .e_rating_mini.noreact { left: 162px; top: -8px; }
#feedback_window .e_rating_mini.noreact i { position: relative; top: 1px; }
#feedback_window .sliders { margin-top: 32px }
#feedback_window .slider { padding-top: 14px }
#feedback_window .slider:first-child { padding-top: 0 }
#feedback_window .slider .label { font-size: 14px; line-height: 18px; text-shadow: 0 1px 1px #fff; width: 115px; padding-top: 6px; }
#feedback_window .slider .slider_wrapper { width: 235px; margin-right: 50px; padding-top: 10px; background: url('/i/e/slider_divides.png') 0px 0 no-repeat; }
#feedback_window .slider .slider_alt input { padding: 3px 4px; font-weight: bold; font-size: 17px; line-height: 17px; width: 25px; text-align: center; }
#feedback_window .buttons_area { padding-top: 25px; left: 154px; }
#feedback_window .slider .ui-widget-content { border: 0; background: url('/i/e/slider_range_bg_wide.png') 0 0 no-repeat; height: 11px; width: 234px; margin: 0 auto; }
#feedback_window .slider .ui-state-default { border: 0; background: url('/i/e/slider_handler.png') no-repeat 2px -22px; width: 14px; height: 20px; cursor: pointer; }
#feedback_window .ui-slider .ui-slider-range { border-radius: 4px; margin-left: 2px; background: url('/i/e/slider_range_bg.png?111') 0 0 repeat-x; height: 9px; top: 1px; }


/* ===[ Book info ]=== */
.e_book_info {
    margin-top: 7px;
    background-color: white;
    border-radius: 4px;
    padding: 22px 51px;
    color: #34394E;
}

.hotel_card_wrapper .e_book_info a { color: #34394e }
.e_book_info .e_hotel_map_focus .e_aj {  color: #34394e !important }
.hotel_card_wrapper .e_book_info .e_hotel_map_focus i {
    position: absolute;
    background: url('/i/e/sprite.png') no-repeat -326px -416px;
    width: 10px;
    height: 13px;
    top: 0;
    left: 0;
}

.hotel_card_wrapper .e_book_info .hotel_category {
    font-weight: bold;
    padding-top: 0;
}

.e_book_info h2 {
    line-height: 24px;
    font-size: 20px;
    margin: 9px 0 6px;
}

.hotel_card_wrapper .e_book_info .address {
    margin-left: 2px;
}

.hotel_card_wrapper .e_book_info .address .addr_phone {
    margin-left: 24px;
}

.e_book_info  .e_numbers_block .list { padding: 0; width: 100%; border: 0;}
.e_book_info  .e_numbers_block .list .num_line {
    padding: 4px 0 4px;
    border-top: 0;
    border-bottom: 1px solid #E6E6E8;
}

.e_book_info .numbers {
    margin-top: 42px;
}

.e_book_info .e_numbers_block .food_options {
    margin-top: 10px;
}

.e_special_offer_info {
    border: 2px solid #FF661B !important;
    border-radius: 5px;
    padding: 17px 48px;
    position: relative;
}

.e_special_offer_info .e_action_s {
    top: -3px;
    left: -4px;
}

.e_book_info .price_block {
    margin-top: 13px;
    position: relative;
    padding-bottom: 15px;
}

.e_book_info .fast_book span {
    color: #a0a0a9;
}

.e_book_info .price {
    font-size: 36px;
    line-height: 40px;
    margin-top: -5px;
}

.e_book_info .e_available_fast {
    top: 33px;
    position: absolute;
    right: 6px;
}

.e_book_info .scrltobottom {
    margin-top: 23px;
    padding-bottom: 3px;
}

.e_booking_form .personal_data .form {
    width: 710px;
}

.e_booking_form h3 span {
    padding-left: 0;
}

.e_booking_form .fields {
    margin-top: 13px;
}

.e_booking_form .f_line {
    text-shadow: 0 1px 1px #fff;
    margin-bottom: 13px;
}

.e_booking_form .f_line label { display: block; margin-bottom: 3px }

.e_booking_form .f_line.two_fields .f_block {
    width: 337px;
}

.e_booking_form .f_line.two_fields .e_text_field {
    width: 324px;
}

.e_booking_form .f_line.two_fields .f_block:first-child {
    margin-right: 28px;
}


.e_booking_form .f_line.three_fields .f_block {
    margin-left: 28px;
}

.e_booking_form .f_line.three_fields .f_block:first-child {
    margin-left: 0;
}

.e_booking_form #t_city { width: 214px }
.e_booking_form  #t_phone { width: 146px; }
.e_booking_form .phone_block { width: 168px; }

.e_booking_form .e_text_field {
    font-size: 14px;
    text-transform: uppercase;
}

.e_booking_form .no_tt {
    text-transform: inherit;
}


.e_booking_form .f_line .annotation { color: #7f7e88; display: block; margin-top: 5px }

.e_booking_form h3 { font-size: 26px; line-height: 30px}

.e_booking_form .section .info{
    width: 285px;
}
.e_booking_form .tourists_data {
    margin-top: 19px;
}

.e_booking_form .tourists_data .e_text_field {
    width: 253px;
}

.e_booking_form .tourists_data .f_chb_block {
    padding-left: 5px;
    position: relative;
    padding-top: 30px;
}

.e_booking_form .f_line.three_fields .f_tt_sel {
    margin-left: 12px;
}

.f_chb_block .e_tip {
    left: 10px;
    color: #1871C3;
    font-size: 11px;
    position: absolute;
    top: 0;
}
.f_chb_block .e_tip i {
    font-size: 12px;
}



.e_booking_form .chzn-container .chzn-results .active-result { text-shadow: none}
.e_booking_form .chzn-search { display: none }
.e_booking_form .chzn-container-single .chzn-single { padding-top: 4px; padding-bottom: 3px; border: 1px solid #CFCFCF; }
.e_booking_form .chzn-container-single .chzn-single div b { background-position: 0 6px }
.e_booking_form .chzn-container .chzn-drop { border: 1px solid #CFCFCF; border-top: 0}

.e_booking_form .section .info .text {
    margin-left: 19px;
    width: 238px;
    padding: 12px 14px;
    font-size: 14px;
    line-height: 18px;
    background-color: white;
    border-radius: 3px;
    position: relative;
}

.e_booking_form .section .info .text .pipe {
    background: url('/i/e/binfo_pipe.png') 0 0 no-repeat;
    width: 13px;
    height: 20px;
    position: absolute;
    top: 7px;
    left: -13px;
}

.e_attention {
    background-color: #FF4200;
    border-radius: 20px;
    color: white;
    padding: 12px 16px 12px 47px;
    position: relative;
    text-shadow: none;
}

.e_attention i {
    background: url('/i/e/sprite.png') no-repeat -280px -530px;
    width: 26px;
    height: 26px;
    position: absolute;
    top: 7px;
    left: 8px;
}

.e_promocode_wrapper {
    height: 51px;
    background: url('/i/e/pc_wrapper_bg.png') 0 0 repeat-x;
    border-radius: 4px;
    width: 673px;
    padding: 8px 7px 9px 7px;
}

.e_promocode_wrapper .e_text_field {
    padding: 13px 20px;
    line-height: 21px;
    width: 509px;
    text-transform: uppercase;
}

.lt-ie9 .e_promocode_wrapper .e_text_field {
    width: 506px;
}

.promo_code_area .proc {
    background: url('/i/e/sprite.png') no-repeat -284px -304px;
    width: 78px;
    height: 84px;
    position: absolute;
    right: 242px;
    top: 26px;
}



.e_promocode_wrapper label {
    margin-right: 16px;
    margin-left: 11px;
}


.e_text_window {
    width: 700px;
    position: relative;
    margin: 0 auto;
    display: none;
}

.lb_content .e_text_window {

}

.e_text_window h4 {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 20px;
}

.e_text_window .lb_close {
    top: 4px;
    right: 1px;
}

.win-os .e_text_window .lb_close {
    right: 3px;
}

.e_text_window .content h3 {
    font-size: 21px; line-height: 25px;
    text-align: center;
    margin-bottom: 54px;
}

.e_text_window .content h4 {
    margin-bottom: 22px;
    font-size: 12px;
    line-height: 16px;
    margin-top: 60px;
}

.e_text_window .content {
    border: 1px solid #CCCCD3;
    box-shadow: inset 0 1px 3px lightGrey;
    padding: 36px 29px;
    height: 280px;
    overflow: auto;
}


.e_text_window .content p, .e_text_window .content li {
    margin-bottom: 22px;
}

.e_text_window .content ol, .e_text_window .content ul {
    padding-left: 40px;
}

.e_text_window .left_border {
    background: url('/i/e/left_border.png') 0 0 repeat-y;
    padding-left: 14px;
}

.book_wrapper .e_book_info.e_book_user_info {
    font-size: 16px;
    margin-top: 9px;
}



.e_book_user_info h3 {
    font-size: 21px;
    line-height: 25px;
    margin-bottom: 12px;
}

.e_book_user_info .name {
    font-size: 21px;
    line-height: 25px;
    text-transform: uppercase;
    border-bottom: 1px solid #e6e6e8;
    padding-bottom: 7px;
    margin-bottom: 7px;
}

.e_book_user_info .location {
    margin-bottom: 26px;
}

.e_book_user_info .contact {
    margin-bottom: 7px;
}

.e_book_user_info .contact .e_bliss_bold {
    font-size: 16px;
}

.e_book_user_info .users_list {
    margin-top: 15px;
    margin-left: 20px;
    font-size: 14px;
    line-height: 18px;
}

.e_book_user_info .users_list .leader {
    font-size: 12px; line-height: 16px;
}



.e_book_user_info .users_list li {
    padding: 3px 0;
    margin-bottom: 3px;
    border-bottom: 1px solid #e6e6e8;
}

.e_book_user_info .users_list li:last-child {
    border-bottom: 0;
}



.e_pay_column .epc_wrapper {
    margin: 0 auto;
    width: 238px;
}

.e_pay_column .epc_main {
    background: url('/i/e/e_pay_bg.png?123') 0 0 no-repeat;
    width: 288px;
    padding-bottom: 16px;
}

.e_pay_column .bottom {
    background: url('/i/e/epc_bottom.png') 0 0 no-repeat;
    margin-bottom: 13px;
    width: 288px;
    height: 19px;
}

.e_pay_column .bi_block {
    margin-bottom: 14px;
    padding-bottom: 17px;

    border-bottom: 1px solid #E6E6E8;
}

.e_pay_column .bi_block:first-child {
    padding-top: 53px;
}

.e_pay_column .bi_block h4 {
    margin-bottom: 26px;
}


.e_pay_column .book_code .code {
    font-size: 18px;
    margin-bottom: 5px;
}

.e_pay_column .book_code .status {
    color: #888892;
    padding-right: 3px;
}

.e_pay_column .book_price {
    position: relative;
}

.e_pay_column .book_price h4 {
    margin-bottom: 15px;
}

.e_pay_column .e_price_details {
    box-shadow: 0 0 32px -5px #22274D;
    border-radius: 5px;
    padding: 64px 39px 14px 32px;
    width: 239px;
    top: 18px;
    left: -36px;
}

.e_pay_column .price_tag {
    position: relative;
    z-index: 2;
}

.hotel_card_wrapper .e_pay_column a {
    color: #34394E;
}

.e_pay_column .buttons .btn {
    display: block;
    margin-bottom: 3px;
}

.e_pay_column .book_pay_opts {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.e_pay_column .cancel_book {
    font-size: 14px; line-height: 18px;
    margin-top: 16px;
    position: relative;
}

.e_pay_column .cancel_book .error_text {
    font-size: 11px;
    top: 22px;
    width: 148px;
    margin-top: 3px;
    padding: 2px 8px;
    color: white;
    background-color: #F75E02;
    border-radius: 5px;
    position: absolute;
    left: 38px;
}

.e_pay_column .error_text:before {
    left: -6px;
    top: 0;
    position: absolute;
    content: ' ';
    background: url('/i/e/error_tr_bg.png') 0 0 no-repeat;
    width: 10px;
    height: 26px;
}

.e_pay_column .e_attention {
    margin-left: 12px;
    width: 202px;
}

.e_pay_column .e_pay_info {
    margin-top: 19px;
    margin-left: 12px;
    width: 264px;
    font-size: 11px;
    line-height: 15px;
    color: white;
}

.e_pay_canceled .epc_main {
    padding-bottom: 1px;
}

.e_pay_canceled .book_price {
    padding-bottom: 8px;
    border: 0;
}


.lb-overlay.agr_window > div {
    background: none;
    width: 650px;
}

.lb_content .e_text_window {
    display: block;
    width: 600px;

}

.lb_content .e_text_window .content {
    background-color: #fcfcfc;
    border-radius: 5px;
    color: #34394e;
    font-size: 14px;
    line-height: 18px;
    padding: 9px 16px;
    height: 370px;
}

.lb_content .e_text_window .content h3,  .lb_content .e_text_window .content h2 {
    text-align: left;
    font-family: BlissProMedium, Arial, sans-serif;
}

.lb_content .e_text_window .content h3 {
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 22px;
}

.lb_content .e_text_window .content h2 {
    font-size: 21px;
    line-height: 25px;
    margin-bottom: 7px;
}

.lb_content .e_text_window .content a {
    text-decoration: underline;
    color: #0d6ab8;
}

.lb-overlay.agr_window .lb_content {
    padding: 36px 19px 25px 17px;
    background-color: white;
}

.lb_pay_btns_area .middle {
    padding: 21px 19px 22px 39px;
    background-color: #EAEBED;
}

.lb_pay_btns_area .top {
    background: url("/i/e/top_triangles.png?123") 0 0 repeat-x;
    height: 5px;
}

.lb_pay_btns_area {
    text-align: left;
    position: relative;
}

.lb_pay_btns_area .ortext {
    position: absolute;
    top: 37px;
    left: 213px;
}

.lb_pay_btns_area .ortext a {
    color: #0d6ab8;
    margin-left: 12px;
}

.lb_pay_btns_area span {
    display: none;
}

.lb_pay_btns_area img {
    position: relative;
    margin-right: 9px;
    top: -1px;
}

.lb_pay_btns_area b {
    left: 10px;
    top: 11px;
    font-size: 16px;
    font-weight: normal;
    font-family: BlissPro, Arial, sans-serif;
    position: relative;
    display: none;
}

.lb_pay_btns_area span.e_aj {
    display: inline;
}

.lb_pay_btns_area .pagePrintBtn {
    right: 27px;
    top: 37px;
    position: absolute;
}

/* ===[ Help line ]=== */
.e_help_line { background-color: #31384D; border-radius: 5px; position: relative; padding: 18px 23px 17px; color: white; }

/* ===[ Action line ]=== */
.e_block { position: relative; }

/* ===[ Icons links ]=== */
.e_wicon { position: relative; padding-left: 28px; }
.e_wicon i { position: absolute; background: url('/i/e/sprite.png?333') no-repeat 0 0; top: 0; left: 0; }
.e_wicon:hover span { border-bottom: 0 }
.e_subscribe_link_white i { background-position: -191px -411px; width: 21px; height: 16px; }
.e_subscribe_link_white:hover i { background-position: -191px -441px; }
.e_subscribe_link_white:active i { background-position: -191px -471px; }

.e_hotels_map_link_dark i { background-position: -30px -412px; width: 21px; height: 18px; }
.e_hotels_map_link_dark:hover i { background-position: -30px -442px; }
.e_hotels_map_link_dark:active i { background-position: -30px -472px; }

.e_hotels_share_link_dark { padding-left: 20px; z-index: 3 }
.e_hotels_share_link_dark i {background-position: -64px -413px; width: 14px; height: 19px; }
.e_hotels_share_link_dark:hover i { background-position: -64px -443px; }
.e_hotels_share_link_dark:active i { background-position: -64px -473px; }

.e_hotels_print_link_dark i {background-position: -94px -414px; width: 21px; height: 17px; }
.e_hotels_print_link_dark:hover i { background-position: -94px -443px; }
.e_hotels_print_link_dark:active i { background-position: -94px -474px; }

.e_hotels_map_link_dark.light i { background-position: -29px -509px; width: 23px; height: 19px; }
.e_hotels_map_link_dark.light:hover i { background-position: -29px -539px; }
.e_hotels_map_link_dark.light:active i { background-position: -29px -569px; }

.e_hotels_share_link_dark.light i {background-position: -72px -511px; width: 14px; height: 19px; top: 2px; }
.e_hotels_share_link_dark.light:hover i { background-position: -72px -541px; }
.e_hotels_share_link_dark.light:active i { background-position: -72px -571px; }

.e_hotels_print_link_dark.light i {background-position: -105px -512px; width: 21px; height: 17px; }
.e_hotels_print_link_dark.light:hover i { background-position: -105px -542px; }
.e_hotels_print_link_dark.light:active i { background-position: -105px -572px; }

.e_back_to_dark { padding-left: 0;  }
.e_back_to_dark i {left: -23px; top: -8px; background-position: -190px -511px; width: 18px; height: 13px; }
.e_back_to_dark:hover i { background-position: -190px -541px; }
.e_back_to_dark:active i { background-position: -190px -571px; }


/* ===[ Price slider ]=== */
.e_price_slider .inputs { background: url('/i/e/prices_sep.png') center center no-repeat }
.e_price_slider .inputs input { padding: 2px 4px; width: 80px; box-shadow: 0 1px 1px #fff; color: #000 !important; }
.e_price_slider .inputs input.e_text_field { color: #000 !important; }
.e_price_slider .inputs input[disabled='disabled']::-ms-value {
    color: #000;
}
.e_price_slider .ui-widget-content { border: 0; background: url('/i/e/slider_bg.png') 0 0 no-repeat; height: 11px; width: 184px; margin: 0 auto; }
.e_price_slider .ui-slider .ui-slider-range { background: url('/i/e/slider_range_bg.png?111') 0 0 repeat-x; height: 9px; top: 1px; }
.e_price_slider .ui-state-default { border: 0; background: url('/i/e/slider_handler.png') no-repeat 0 -22px; width: 12px; height: 20px; cursor: pointer; }
.e_price_slider .slider_area { padding: 5px 0 6px; border-radius: 4px; border: 1px solid #CDCDD4; box-shadow: 0 1px 1px #fff; margin-top: 3px; }

/* ===[ Visiblity toggler ]=== */
.e_vis_toggler { position: relative; cursor: pointer; }
.e_vis_toggler i { position: absolute; right: 0; top: 3px; background: url('/i/e/buttons.png') no-repeat -104px -439px; width: 28px; height: 19px; }
.e_vis_toggler.evt_hidden i { background-position: -104px -458px; }
.e_vis_toggler.evt_hidden + div { display: none }

/* ===[ Forms ]=== */
.e_tf_label { display: block; margin-bottom: 3px; text-shadow: 1px 0 1px #fff }
.e_text_field, .e_textarea { border: 1px solid #CCCCD3; outline: none; box-shadow: inset 0 1px 3px lightGrey; color: #2E3242; padding: 7px 10px; border-radius: 3px; resize: none }

.e_text_field.error { border: 2px solid #f75e02; }
.e_tf_mini { padding: 4px 6px; }
.e_tf_annotation { margin-top: 10px;  }
.e_input_line { position: relative }
.e_input_line .error_text, .err_handler { margin-top: 3px; padding: 5px 6px; color: white; background-color: #F75E02; border-radius: 5px; }
.err_handler { display: none; width: 251px; margin-top: 18px; }
.e_f_checkbox { position: fixed;  left: -10000px}
.e_tf_checkbox_label { position: relative; display: inline-block; padding-left: 25px; padding-top: 2px; cursor: pointer; visibility: hidden }
.e_tf_checkbox_label i { display: block; background: url('/i/e/sprite.png') no-repeat -80px -52px; width: 18px; height: 19px; position: absolute; top: 0; left: 0; }
.e_tf_checkbox_label:hover i { /*background-position: -103px -52px;*/ }
.e_tf_checkbox_label i.active { background-position: -103px -52px }

.e_tf_checkbox_label_top { position: relative; display: inline-block; padding-top: 23px; cursor: pointer; padding-left: 0; width: 18px}
.e_tf_checkbox_label_top i { display: block; background: url('/i/e/sprite.png') no-repeat -80px -52px; width: 18px; height: 19px; position: absolute; top: 0; left: 0; }
.e_tf_checkbox_label_top span { display: block; text-align: center}


.e_tf_chb_dark i { background-position: -151px -52px; }
.e_tf_chb_dark i.active { background-position: -126px -52px }
.e_sl_count_selector { position: relative; text-align: center; width: 78px; }
.e_sl_count_selector input { text-align: center; width: 16px; }
.e_sl_count_selector .btn { position: absolute; top: 23px; }
.lt-ie9 .e_sl_count_selector .btn, .lt-ie10 .e_sl_count_selector .btn { top: 22px }
.e_sl_count_selector .btn_count_decrement { left: 0; }
.e_sl_count_selector .btn_count_increment { margin-left: -1px }
.e_date_input { width: 90px }
.e_date_days_count { margin-left: 2px; width: 48px; color: #A0A0A9; padding-top: 26px; background: url('/i/e/nights_bg.png') 3px 37px no-repeat; text-shadow: 1px 1px 1px #fff; }
.e_date_days_count b { font-size: 14px; line-height: 10px; display: block; }
.e_date_days_count span { font-size: 8px; text-transform: uppercase; line-height: 8px; }
.ui-datepicker { overflow: hidden; width: 216px; padding: 0 2px 3px 2px; border: 0; background: url('/i/e/sprite.png') no-repeat  -374px -35px; font-family: Arial, Helvetica, sans-serif; z-index: 11 !important }
.ui-datepicker .ui-datepicker-header { text-shadow: 0 1px 2px #353535; color: white; font-size: 14px; line-height: 14px; padding: 14px 0 5px; background: none; border: none; }
.ui-datepicker table { margin: 0; border-collapse: separate; font-size: 12px; border-spacing: 1px; background-color: #D5D5D5; width: 216px; }
.ui-datepicker th { padding: 7px 0; font-weight: normal; text-transform: lowercase; color: #515667; font-size: 12px; line-height: 12px; font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; }
.ui-datepicker table td { vertical-align: middle; text-align: center; background: url('/i/e/sprite.png') no-repeat -21px -314px; padding: 0; border: 0; cursor: pointer; position: relative; }
.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled { opacity: 1; filter: Alpha(Opacity=100); background-image: url('/i/e/sprite.png'); }
.ui-datepicker table td.ui-state-disabled span { color: #9da7af }
.ui-datepicker table .ui-state-default { border: 0; font-size: 11px; padding: 0; background: none; width: 30px; height: 23px; display: block; text-align: center; font-weight: bold; padding-top: 7px; }
.ui-datepicker table .ui-state-default.ui-priority-secondary { font-weight: normal }
.ui-datepicker table .ui-state-default:hover { background-color: #fff }
.ui-datepicker table td.ui-state-disabled .ui-state-default:hover { background-color: transparent; border: 0; position: static; }
.ui-datepicker table td.checked_day .ui-state-default,
.ui-datepicker table td.ui-state-disabled.checked_day .ui-state-default { background: url('/i/e/sprite.png') no-repeat -67px -315px; color: white; text-shadow: 0 1px 2px #353535; }
.ui-datepicker table .ui-state-default.ui-state-active { background: url('/i/e/sprite.png') no-repeat -111px -315px; color: white; text-shadow: 0 1px 2px #353535; }
.ui-datepicker.dp_checkin table .ui-state-default.ui-state-active { background: url('/i/e/sprite.png') no-repeat -67px -315px }
.ui-datepicker.dp_checkin table td.checked_day .ui-state-default,
.ui-datepicker.dp_checkin table td.ui-state-disabled.checked_day .ui-state-default { background: url('/i/e/sprite.png') no-repeat -111px -315px; color: white; text-shadow: 0 1px 2px #353535; }
.ui-datepicker td { padding: 0 }
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next { cursor: pointer; background: none !important; border: 0 !important; top: 16px; }
.ui-datepicker .ui-datepicker-prev { left: 4px !important }
.ui-datepicker .ui-datepicker-next { right: -6px !important }
.ui-datepicker  .ui-datepicker-prev .ui-icon,
.ui-datepicker .ui-datepicker-next .ui-icon { background: transparent url('../i/e/buttons.png') no-repeat 0 0; height: 11px; width: 8px; : ; }
.ui-datepicker .ui-datepicker-prev:focus,
.ui-datepicker .ui-datepicker-next:focus { outline: none }
.ui-datepicker .ui-datepicker-prev .ui-icon { background-position: -106px -396px }
.ui-datepicker .ui-datepicker-prev:hover .ui-icon { background-position: -104px -409px }
.ui-datepicker .ui-datepicker-prev.ui-state-disabled .ui-icon { background: none !important }
.ui-datepicker .ui-datepicker-next .ui-icon { background-position: -116px -396px }
.ui-datepicker .ui-datepicker-next:hover .ui-icon { background-position: -118px -409px }
.ui-datepicker .ui-datepicker-next.ui-state-disabled .ui-icon { background: none !important }
.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary { opacity: 1; filter: none; font-weight: normal; }
#__date_checkin { margin-left: -53px; top: 51px; position: absolute; }
.inner_page #__date_checkin { top: 44px }
.lt-ie10 #__date_checkin,
.lt-ie9 #__date_checkin,
.firefox #__date_checkin,
.opera #__date_checkin { margin-left: -170px }
#__date_checkout { margin-left: -53px; top: 51px; position: absolute; }
.inner_page #__date_checkout { top: 44px }
.lt-ie10 #__date_checkout,
.lt-ie9 #__date_checkout,
.firefox #__date_checkout,
.opera #__date_checkout { margin-left: -170px }
.opera #__date_checkout,
.opera #__date_checkin { top: 24px }
.e_search_field { position: relative; }
.e_search_field input { padding-left: 16px;  }
.e_search_field i { background: url('/i/e/sprite.png') no-repeat -193px -324px; width: 16px; height: 13px; position: absolute; top: 8px; left: 7px; }

/* ===[ Hotel item from list ]=== */
.e_hotel_item { margin-bottom: 24px; background-color: #fff; padding: 2px; border-radius: 5px; width: 771px; position: relative; }
.e_hotel_item .photo { margin-right: 12px }
.e_hotel_item .photo img { width: 110px; height: 110px; }
.e_hotel_item .hotel_info { width: 440px; margin-top: 10px; height: 94px; margin-right: 9px; border-right: 1px solid #E2E2E7; padding: 0 16px 0 0; position: relative; }
.e_hotel_item .price_info { padding: 14px 22px 3px 0 }
.e_hotel_item .price_info .book { margin-top: 6px }
.e_hotel_item .rating,
.e_hotel_item .address { color: #636982 }
.e_hotel_item .address { top: -2px; margin-left: 12px; position: relative; padding-left: 16px; cursor: pointer; }
.e_hotel_item .address:hover span { border: 0 }
.e_hotel_item .address i { position: absolute; background: url('/i/e/sprite.png') no-repeat -326px -416px; width: 10px; height: 13px; top: 0; left: 0; }
.e_hotel_item .hotel_info .bottom { position: absolute; bottom: 0; width: 441px; color: #636982; }
.e_hotel_item .hotel_info .bottom a { color: #636982; margin-right: 12px; }
.e_hotel_item .hotel_info .bottom span { color: #979bad }
.e_hotel_item .hotel_info .bottom .num_left { font-weight: bold; color: #636982; margin-right: 0; }
.e_hotel_item .hotel_info .bottom .num_left.e_orange { color: #EF5D38 }
.e_hotel_item .middle { padding-top: 7px; text-transform: capitalize; }
.e_hotel_item .nights { color: #a0a0a9; padding-right: 2px; }
.e_hotel_item_b { border-radius: 4px }
.hotels_bottom { margin-bottom: 97px; margin-top: 35px; color: #8B8B8B; position: relative; }
.hotels_bottom a { color: #636982 }
.hotels_bottom .btn_show_more { left: 300px; position: absolute; top: -8px; }
.e_scroll_to_top { position: relative }
.e_scroll_to_top::before { margin-top: -1px; font-size: 14px; color: #636982; margin-left: -18px; position: absolute; content: '↑'; top: 0; left: 0;}
.e_scroll_to_bottom::after { margin-top: -1px; font-size: 14px; color: #636982; margin-left: 16px; position: absolute; content: '↓'; }
.btn_print_hcard { border-radius: 0 4px 0 0; background: url('/i/e/btn_print.png') 0 0 no-repeat; position: absolute; width: 19px; height: 23px; top: 0; right: 0; }
.e_hotel_item_special { border: 2px solid #EF5D38; box-shadow: none; }
.e_hotel_item_special .special_offer { position: absolute; top: -3px; left: -3px; background: url('/i/e/special_offer.png') 0 0 no-repeat; width: 63px; height: 62px; }

/* ===[ Lightbox map ]=== */
#map_window > div { width: 730px }
#map_window h3.e_mh_lb { padding-bottom: 5px; font-size: 21px; line-height: 25px; }
#map_window h4 { margin-left: 2px; background: url('/i/e/map_h4_icon.png') 0 0 no-repeat; color: #656977; padding-left: 17px; }
#map_window .lb_content { padding: 10px 12px 12px 12px }
#map_window_map { margin: 13px auto 0; border: 1px solid #A8ABB4; width: 702px; }
#map_window_map .error { margin-left: 111px; text-align: left; padding: 16px 0; width: 540px; padding-left: 91px; background: url('/i/e/gmaps.png') 0 0 no-repeat; }
#map_window_map .error,
#map_window_map .error a { color: #a30400; margin-top: 178px; }
.infobox-wrapper { display: none }
.infobox_content { margin-top: 8px; background: white; color: #2C333A; font-size: 12px; padding: 12px 20px 8px 20px; border-radius: 4px; position: relative; width: 300px; }
.infobox_content .pipe { background: url('/i/e/topbox.png') no-repeat top center; width: 284px; height: 11px; position: absolute; bottom: -11px; }
.infobox_content h4 { margin-bottom: 7px; margin-top: 6px; padding-right: 52px; padding-left: 0 !important; margin-left: 0 !important; background: none !important; }
.infobox_content .middle { margin-bottom: 12px }
.infobox_content .e_rating_mini { right: 18px; top: -1px; }
.infobox_content .photos { margin-bottom: 9px }
.infobox_content .price { position: relative; top: -1px; }
.infobox_content .nights { color: #9a9ba1; margin-top: -3px; }
.infobox_content .feedback_count { margin-left: 20px }
.infobox_content .location { color: #9a9ba1 }
.infobox_content .btn_book_s_blue { position: relative; top: 2px; }
.infobox_content .buttons_area { padding-top: 0 !important }

/* ===[ Ratings icons]=== */
.e_rating_mini { font-size: 13px; position: absolute; top: 0; right: 0; background: url('/i/e/sprite.png') no-repeat -660px -43px; width: 32px; height: 45px; font-weight: bold; text-shadow: 0 1px 1px #581B00; text-align: center; padding-top: 11px; color: white; }
.e_rating_mini.maxi { background: url('/i/e/sprite.png') no-repeat -651px -113px; width: 64px; height: 53px; font-size: 16px; line-height: 20px; text-shadow: 0 1px 3px #581B00; padding-top: 19px; }
.e_rating_mini.big { background: url('/i/e/sprite.png?111') no-repeat -605px -187px; width: 174px; height: 77px; font-size: 14px; line-height: 18px; text-shadow: 0 1px 3px #581B00; padding-top: 19px; color: #fff; font-weight: normal; z-index: 3; }
.e_rating_mini.big i { margin-left: 6px }
.e_rating_mini.maxi i,
.e_rating_mini.big i { font-size: 16px; border-bottom: 1px dotted; padding-bottom: 1px; line-height: 20px; font-weight: bold; }
.e_rating_mini.maxi i { border: 0 }


/* ===[ Rating info ]=== */
.e_rating_info { position: absolute; background-color: white; padding: 70px 23px 24px 22px; width: 148px; z-index: 2; color: #34394E; }
.e_rating_info .value { font-weight: bold }
.e_rating_info li { border-top: 1px solid #dcdee0; line-height: 17px; }
.e_rating_info li:first-child { border: 0 }
.e_rating_info .info { position: relative; margin: 10px 0 15px; line-height: 12px; font-size: 10px; color: #9FA3AB; }
.e_rating_info a { color: #34394E; font-size: 12px; }
.e_rating_info .bottom { background: url('/i/e/rat_info_bottom.png') 0 0 no-repeat; width: 211px; height: 29px; position: absolute; bottom: -29px; left: -9px; }



/* ===[ Share block ]=== */
.e_share_block { right: 75px; top: -21px; width: 230px; height: 195px; position: absolute; z-index: 1; background: url('/i/e/share_block_bg.png') 0 0 repeat-x; display: none; }
.lt-ie10 .e_share_block , .lt-ie9 .e_share_block { height: 160px }
.e_share_block ul { margin: 70px 0 0 48px }
.e_share_block li {margin: 0 2px; }
.e_share_block .e_text_field { margin-top: 16px; width: 117px; padding: 3px 8px 3px 8px; margin-left: 48px; }
.e_share_block .btn_copy_s { margin-top: 3px; margin-left: 47px; }
.lt-ie10 .e_share_block .btn_copy_s, .lt-ie9 .e_share_block .btn_copy_s { display: none }
.e_share_block .copied { text-shadow: 0 1px 1px white; position: relative; left: 33px; top: 9px; }
.opera .e_share_block .copied { left: 79px }
/* ===[ Lightbox forms ]=== */
.lb_form .e_text_field { width: 245px; }

.lb_form .e_input_line { margin-bottom: 7px;  }
.lb_form .e_input_group { margin-bottom: 26px; }
.lb_form h3, .lb_form label, .lb_form .e_tf_annotation { text-shadow: 1px 1px 1px #F7F7F7; }
.lb_form .error_text { position: absolute; border-radius: 0 5px 5px 0; white-space: nowrap; z-index: 2 }
.lb_form .error_text:before { left: -10px; top: 0; position: absolute; content: ' '; background: url('/i/e/error_tr_bg.png') 0 0 no-repeat; width: 10px; height: 26px; }


/* ===[ Offers block ]=== */
.e_block_spec { width: 310px; height: 185px; border-radius: 5px; behavior: url(/css/PIE.htc); }
.e_block_spec .img { display: block; position: relative; }
.e_block_spec .img img { border-radius: 5px }
.e_block_spec .annotation { position: absolute; background-color: rgba(255, 255,255,0.93); border-radius: 0 0 5px 5px; width: 284px; bottom: 0; left: 0; padding: 8px 13px; }
.lt-ie9 .e_block_spec .annotation { background-color: #fff; }

/* ===[ Suggested hotel ]=== */
.e_block_sug_hotel { background: url('../i/e/sug_hotel_bg.jpg') ; width: 306px; height: 90px; border-radius: 5px; padding: 2px; }
.e_block_sug_hotel .img,
.e_block_sug_hotel .img img { width: 90px; height: 90px; }
.e_block_sug_hotel .info { padding-right: 3px; width: 203px; position: relative; height: 90px; }
.e_block_sug_hotel .stars_line { padding-top: 8px; margin-bottom: 6px; padding-bottom: 1px; padding-right: 1px; }
.e_block_sug_hotel .e_price { position: relative; top: -3px; line-height: 16px; }
.e_block_sug_hotel .location { position: absolute; bottom: 4px; left: 0; color: #636982; }
.e_block_sug_hotel .e_action_s { top: -2px; left: -4px; }
.lt-ie9 .e_block_sug_hotel .name { font-size: 100%; }

/* ===[ Popular city ]=== */
.e_block_popular_city { width: 310px; }
.e_block_popular_city .img,
.e_block_popular_city .img img { border-radius: 5px; width: 310px; height: 110px; }
.e_block_popular_city .hotels_count { color: #9194a0 }
.e_block_popular_city .info { margin-bottom: 6px }
.e_block_popular_city .info h4 { margin: 4px 0 6px }

/* ===[ Subscribe block ]=== */
.e_block_subscribe { width: 310px; height: 63px; border-radius: 5px; background: url('../i/e/sug_hotel_bg.jpg') bottom left repeat-x; }
.e_block_subscribe .top { height: 6px; border-radius: 5px 5px 0 0; background-color: #1060ad; }
.e_block_subscribe .form { padding-top: 3px; padding-left: 7px; }
.e_block_subscribe h5 { margin-bottom: 3px }
.e_block_subscribe .e_text_field { width: 178px }

/* ===[ News and Guide blocks ]=== */
.e_news_item { width: 310px }
.e_news_item .date { margin-right: 20px; width: 44px; }
.e_news_item .day { background: url('/i/e/sprite.png') no-repeat -78px -3px; width: 44px; height: 28px; padding-top: 4px; }
.e_news_item .info { position: relative; width: 246px; top: -3px; }
.e_news_item .info h5 { margin-bottom: 7px }

/* ===[ Feedback block ]=== */
.e_feedback { width: 322px }
.e_feedback .cont { position: relative; background: url('/i/e/sprite.png') no-repeat -13px -89px; width: 306px; height: 190px; margin-bottom: 6px; }
.e_feedback .cont .text { color: #203b53; font-style: italic; width: 264px; margin: 16px auto 0; padding: 23px 0; }
.e_feedback .cont .text td { height: 115px }
.e_feedback .sig .photo,
.e_feedback .sig .photo img { width: 70px; height: 70px; border-radius: 50%; }
.e_feedback .sig .photo { margin-left: -10px }
.e_feedback .name { padding-top: 17px; width: 245px; margin-left: 14px; }
.e_feedback .name h5 { margin-bottom: 6px }

/* ===[ Lightbox ]=== */
.lb-overlay { display: none; position: absolute; top: 0; height: 100%; width: 100%; z-index: 999; }
.lb_bg { background: url('/i/black_pixel.png') 0 0; height: 100%; width: 100%; position: fixed; top: 0; left: 0; display: none; z-index: 988; }
.lb-overlay > div { background: #eeeef1 url('/i/e/lb_bg.jpg') 0 0 repeat-x; margin: 0 auto; position: absolute; min-height: 150px; width: 340px; border-radius: 4px; box-shadow: 0 0 5px #303030; text-align: center; }
.lt-ie9 .lb-overlay > div { border: 1px solid #C4C4C4 }
a.lb_close,
.fancybox-close { width: 11px; height: 11px; background: url('/i/e/lb_close.png') 0 0 no-repeat; position: absolute; top: 14px; right: 14px; z-index: 10; }
a.lb_close:hover,
.fancybox-close:hover { background-position: 0 -11px }
a.lb_close:active,
.fancybox-close:active { background-position: 0 -22px }
.lb-overlay .lb_content { padding: 25px 20px 25px 37px }
.lb_content h3 { padding-bottom: 17px; position: relative; left: -1px; }
.lb_content .buttons_area { left: -1px; padding-top: 18px; position: relative; }
.lb_content .ortext,
.ic_wrapper .ortext { display: inline; color: #9194a0; margin-left: 8px; }
.lb_content .ortext a,
.ic_wrapper .ortext a { margin-left: 8px }


/* ===[ Social line ]=== */
.e_social_line { position: absolute; background-color: #fff; width: 336px; top: 0; border-radius: 5px; padding: 5px 0 0 5px; height: 23px; box-shadow: 0 1px 3px #2C2C2C; }
.e_social_line #vk_like { display: block; width: 160px !important; float: left; }
.lt-ie9 .e_social_line #vk_like { position: relative; top: 2px; }
.e_social_line .fb-like { display: block; position: relative; top: -1px; float: left; }
.e_social_line .twitter-share-button { margin-left: 18px; position: relative; margin-top: -2px; display: block; top: 1px; float: left; }
.e_social_line .btn_social_more { position: absolute; right: 0; top: 0; }
.e_more_social { display: none; position: absolute; top: 24px; right: -9px; background: url('/i/e/sprite.png') no-repeat -416px -294px; width: 207px; height: 149px; z-index: 1; padding-top: 32px }
.e_more_social .twitter { margin-left: 10px; }
.e_more_social .odonclass { margin-left: 28px; margin-bottom: 11px; }
.e_more_social .g_plus { margin-left: 28px; margin-top: 42px; }

/* ===[ Top-right phones block ]=== */
.e_phones_block { position: absolute; }
.e_phones_block { width: 233px; }
.e_phones_block .e_left { padding-right: 27px; border-right: 1px solid #1E6FA7;}
.e_phones_block h4 { margin-bottom: 12px; }
.inner_page .e_phones_block .e_left {  border-right: 1px solid #0f579a; }